---
layout: layouts/base.njk
title: Table of Contents
eleventyNavigation:
  key: Contents
  order: 2
---
<h1>Table of Contents</h1>
<p>Read from the beginning, or jump to any chapter.</p>

<ol class="chapter-list">
{% for chapter in collections.chapters %}
	<li>
		<a class="chapter-link" href="{{ chapter.url }}">
			<strong>{{ chapter.data.order }}. {{ chapter.data.title }}</strong>
			{% if chapter.data.dek %}<small>{{ chapter.data.dek }}</small>{% endif %}
		</a>
	</li>
{% endfor %}
</ol>
